<%= simple_form_for @business, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>

    <%= f.input :name %><br>

    <%= f.input :description %><br>


    <%= f.input :phone, :input_html => {:maxlength => 15} %><br>


    <%= f.input :schedule %><br>


    <%= f.input :street_1 %><br>


    <%= f.input :street_2 %><br>


    <%= f.input :city %><br>

    <%= f.input :state, :collection => Business::STATES_LIST.map{|a,b| b} %><br>


    <%= f.input :zip_code %><br>
	
	<h3>Service(s)</h3>
    <%= f.input :service_ids, label: "", collection: Service.active.alphabetical, as: :check_boxes %>
  <br></br>
      <div class="form-actions">
        <%= f.submit nil, :class => 'button radius' %>
        <%= link_to 'Cancel',businesses_path, :class => 'button alert radius' %>
      </div>
   </fieldset>
<% end %>
