<h1>Listing businesses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Phone</th>
      <th>Street 1</th>
      <th>Street 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.description %></td>
        <td><%= business.phone %></td>
        <td><%= business.street_1 %></td>
        <td><%= business.street_2 %></td>
        <td><%= business.city %></td>
        <td><%= business.state %></td>
        <td><%= business.zip_code %></td>
        <td><%= business.active %></td>
        <td><%= link_to 'Show', business %></td>
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="paginate">
<%= will_paginate @businesses, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br>

<%= link_to 'New Business', new_business_path %>
