<%= simple_form_for @favorite, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite.errors.count, "error") %> prohibited this favorite from being saved:</h2>

      <ul>
      <% @favorite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 
<fieldset>
 
    <%= f.input :name %><br>
	<%= f.input :category, :collection => Favorite::CATEGORIES_LIST %><br>
	<h5>Pick a business from the dropdown OR fill out the address of an unincluded business<h5>
	<%= f.input :business_id, :collection => Business.active.alphabetical %><br>
    <%= f.input :street_1 %><br>
    <%= f.input :street_2 %><br>
    <%= f.input :city %><br>
    <%= f.input :state, :collection => Favorite::STATES_LIST.map{|a,b| b} %><br>
    <%= f.input :zip_code %><br>
    <%= f.input :notes %><br>
	<%= f.input :user_id, input_html: { value: User.where('id = ?', current_user.id), placeholder: User.where('id = ?', current_user.id).map(&:proper_name) }%>
    
  <br></br>
      <div class="form-actions">
        <%= f.submit nil, :class => 'button radius' %>
        <%= link_to 'Cancel',favorites_path, :class => 'button alert radius' %>
      </div>
   </fieldset>
<% end %>
