<h1>Listing favorites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street 1</th>
      <th>Street 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Category</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
	<br>
      <tr>
        <td><%= favorite.name %></td>
        <td><%= favorite.street_1 %></td>
        <td><%= favorite.street_2 %></td>
        <td><%= favorite.city %></td>
        <td><%= favorite.state %></td>
        <td><%= favorite.zip_code %></td>
        <td><%= favorite.category %></td>
        <td><%= favorite.notes %></td>
        <td><%= link_to 'Show', favorite %></td>
        <td><%= link_to 'Edit', edit_favorite_path(favorite) %></td>
        <td><%= link_to 'Remove from favorites', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="paginate">
<%= will_paginate @favorites, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br></br>

<%= link_to 'New Favorite', new_favorite_path %>
