<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @favorite.name %>
</p>

<p>
  <strong>Street 1:</strong>
  <%= @favorite.street_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @favorite.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @favorite.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @favorite.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @favorite.zip_code %>
</p>


<p>
  <strong>Category:</strong>
  <%= @favorite.category %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @favorite.notes %>
</p>

<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
