<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EnRoute - Plan your next stop</title>
    
    <!-- Bootstrap Core CSS -->


    <!-- Custom CSS -->


    <!-- Custom JS -->


    <!-- jQuery Version 1.11.0 -->

    <!-- Bootstrap Core JavaScript -->

    <!-- Custom Fonts -->










</head>

<body>
    
    <!-- Map -->
    <div id="map-canvas"></div>

    <!-- Transparant Background -->
    <div id="menu-background" class="teal transparant menu"></div>

    <!-- Menu -->
    <div id="menu" role="tabpanel" class="menu">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs gray" role="tablist" id="tabs">
            <!-- Commenting out the settings tab
            <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"><%= image_tag "tab-Normal-02.png", size:"41" %></a></li>
        -->
            <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"><%= image_tag "tab-Normal-03.png", size:"41" %></a></li>
            <li role="presentation class="active""><a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab"><%= image_tag "tab-Normal-05.png", size:"41" %></a></li>
            <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"><%= image_tag "tab-Normal-04.png", size:"41" %></a></li>
            <li role="presentation"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"><%= image_tag "tab-Normal-01.png", size:"41" %></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <!-- Save tab -->
            <div role="tabpanel" class="tab-pane active" id="tab2">
                <div class="options-table-container">
                    <table width="100%">
                        <tr class="thick-border-bottom" data-toggle="collapse" data-target="#savedRoutesCollapse" class="accordion-toggle">
                            <td>
                                <div class="row-text align-left">Saved Routes</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="hiddenRow">
                                <div class="collapse" id="savedRoutesCollapse">
                                    <table width="100%">
                                        <tr class="border-bottom">
                                            <td>
                                                <div class="row-text align-left">To-do</div>
                                            </td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td>
                                                <div class="row-text align-left">Sunday Errands</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr class="thick-border-bottom" data-toggle="collapse" data-target="#pastRoutesCollapse" class="accordion-toggle">
                            <td>
                                <div class="row-text align-left">Past Routes</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="hiddenRow">
                                <div class="collapse" id="pastRoutesCollapse">
                                    <table width="100%">
                                        <tr class="border-bottom">
                                            <td>
                                                <div class="row-text align-left">FROM x TO y</div>
                                            </td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td>
                                                <div class="row-text align-left">FROM a TO b</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Settings tab -->
            <div role="tabpanel" class="tab-pane" id="tab3">
                <div class="options-table-container">
                    <table width="100%">
                        <tr class="border-bottom">
                            <td width="50%">
                                <div class="row-text align-left">Least</div>
                            </td>
                            <td>
                                <div class="row-text align-right dropdown">
                                    <a id="least-option" data-target="#" data-toggle="dropdown" class="dropdown-toggle" href="#" value="time">time
                                    </a>
                                    <ul id="least-option-dropdown" class="dropdown-menu align-right">
                                       <li><a href="#" value="time">time</a></li>
                                       <li><a href="#" value="distance">distance</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td>
                                <div class="row-text align-left">Distance Unit</div>
                            </td>
                            <td>
                                <div class="row-text align-right dropdown">
                                    <a id="distance-option" data-target="#" data-toggle="dropdown" class="dropdown-toggle" href="#" value="miles">miles
                                    </a>
                                    <ul id="distance-option-dropdown" class="dropdown-menu align-right">
                                       <li><a href="#" value="miles">miles</a></li>
                                       <li><a href="#" value="kilometers">kilometers</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr class="thick-border-bottom">
                            <td>
                                <div class="row-text align-left">Navigation Voice</div>
                            </td>
                            <td>
                                <div class="row-text align-right">none</div>
                            </td>
                        </tr>
                    </table>
                    <!-- Commenting out the last 3 lines
                    <table width="100%">
                        <tr class="border-bottom">
                            <td>
                                <div class="row-text align-left">About EnRoute</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td>
                                <div class="row-text align-left">Privacy, Terms, and Conditions</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row-text align-left">Feedback</div>
                            </td>
                        </tr>
                    </table>
                -->
                </div>
            </div>

            <!-- Route tab -->
            <div role="tabpanel" class="tab-pane" id="tab5">
                <!-- Input -->
                <div id="route-input" class="table-container">
                    <table id="stops-table">
                        <tr class="text-input">
                            <td></td>
                            <td>
                                <input type="text" id="input-first-location" class="input-text form-control inline" value="Current Location"/>
                            </td>
                        </tr>
                        <!-- Template for new row when we add route -->
                        <!-- increment tr id=stopx -->
                        <tr id="stop1" class="text-input">
                            <td>
								<%= image_tag "findroute-Normal-01.png", size:"22" %>
                                <a id="time-options-button" data-toggle="modal" data-target="#optionsModal">
                                    <%= image_tag "findroute-Normal-02.png", size:"22" %>
                                </a>
                            </td>
                            <td>
                                <input type="text" id="input-location" class="input-text form-control inline"/>
                                <%= image_tag "findroute-Normal-03.png", size:"22" %>
                            </td>
                        </tr>
                        <!-- END Template for new row when we add route -->
                    </table>
                    <table class="footer-table" width="100%">
                        <tr>
                            <td width="46px"></td>
                            <td>
								<%= image_tag "button-Normal-03.png", size:"93.086x28.164" %>
								<%= image_tag "button-Normal-01.png", size:"93.086x28.164" %>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END Input -->
                <!-- Output -->
                <div id="route-output" hidden="true">
                    <div class="options-table-container">
                        <!-- Header -->
                        <table width="100%">
                            <tr class="thick-border-bottom">
                                <td width="50%">
                                    <div class="row-text align-left bebasNeue">Least Time Route</div>
                                </td>
                                <td>
                                    <div class="align-right"> 
                                        <%= image_tag "Normal-08.png", size:'41' %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Stops -->
                        <table width="100%">
                            <tr class="border-bottom">
                                <td width="50%">
                                    <div id="location" class="row-text align-left" style="color: #202020">My Location</div>
                                </td>
                                <td>
                                    <div id="location-address" class="row-text align-right" style="color: #202020">123 Main St.</div>
                                </td>
                            </tr>
                            <!-- Next Stop -->
                            <tr class="border-bottom">
                                <td colspan='2'>
                                    <div class="directions-table">
                                        <table width='100%'>
                                            <tr>
                                                <td><%= image_tag "map-32.png", size:'21' %></td>
                                                <td><div>Head North on asdf</div></td>
                                                <td rowspan='10'><div class="align-right"> 5 min </div></td>
                                            </tr>
                                            <tr>
                                                <td><%= image_tag "map-32.png", size:'21' %></td>
                                                <td><div>Head North on asdf</div></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!-- Next Stop -->
                            <tr class="border-bottom">
                                <td colspan='2'>
                                    <div class="directions-table">
                                        <table width='100%'>
                                            <tr>
                                                <td><%= image_tag "map-32.png", size:'21' %></td>
                                                <td><div>Head North on asdf</div></td>
                                                <td rowspan='10'><div class="align-right"> 5 min </div></td>
                                            </tr>
                                            <tr>
                                                <td><%= image_tag "map-33.png", size:'21' %></td>
                                                <td><div>Head North on asdf</div></td>
                                            </tr>
                                            <tr>
                                                <td><%= image_tag "map-34.png", size:'21' %></td>
                                                <td><div>Head North on asdf</div></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="footer-table" width="100%">
                            <tr>
                                <td width="201px"></td>
                                <td>
                                    <%= image_tag "button-Normal-01.png", size:"93x28", :id => "route-back-button" %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- END Output -->
            </div>

            <!-- Favorites tab -->
            <div role="tabpanel" class="tab-pane" id="tab4">
                <div class="options-table-container">
                    <table width="100%">
                        <tr class="thick-border-bottom">
                            <td>
                                <div class="row-text align-left">Favorites</div>
                            </td>
                        </tr>
                    </table>
                    <form id="favorite-form"><table width="100%" id="favorite-table" >
                        <!-- Favorite Row element -->
                        <tr class="border-bottom">
                            <td>
                                <!-- Radio button -->
                                <input type="radio" name="favToAdd" value="favorite1">
                            </td>
                            <td>
								<%= image_tag "Category_ClickPins-09.png", size:"42" %>
                                
                            </td>
                            <td>
                                <div class="row-text align-left">Starbucks</div>
                            </td>
                            <td width="25%">
                                <a id="time-options-button" data-toggle="modal" data-target="#favoritesModal" hidden="true">
                                    <div class="row-text align-right">Edit</div>
                                </a>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td>
                                <!-- Radio button -->
                                <input type="radio" name="favToAdd" value="favorite2">
                            </td>
                            <td>
                                <%= image_tag "Category_ClickPins-11.png", size:"42" %>
                            </td>
                            <td>
                                <div class="row-text align-left">Chipotle</div>
                            </td>
                            <td>
                                <a id="time-options-button" data-toggle="modal" data-target="#favoritesModal" hidden="true">
                                    <div class="row-text align-right">Edit</div>
                                </a>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td>
                                <!-- Radio button -->
                                <input type="radio" name="favToAdd" value="favorite3">
                            </td>
                            <td>
                                <%= image_tag "Category_ClickPins-05.png", size:"42" %>
                            </td>
                            <td>
                                <div class="row-text align-left">Library</div>
                            <td>
                                <a id="time-options-button" data-toggle="modal" data-target="#favoritesModal"hidden="true">
                                    <div class="row-text align-right">Edit</div>
                                </a>
                            </td>
                        </tr>
                    </form></table>
                    <table class="footer-table" width="100%">
                        <tr>
                            <td width="34%"></td>
                            <td>
                                <%= image_tag "button-Normal-03.png", size:"93x28" %>
                                <%= image_tag "button-Normal-01.png", size:"93x28" %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- User tab -->
            <div role="tabpanel" class="tab-pane" id="tab1">
                <div class="options-table-container">
                    <table width="100%">
                        <tr class="border-bottom">
                            <td>
                                <div class="row-text align-left">Username</div>
                            </td>
                            <td>
                                <div class="row-text align-right">lcorry</div>
                            </td>
                        </tr>
                        <tr class="thick-border-bottom">
                            <td>
                                <div class="row-text align-left">Password</div>
                            </td>
                            <td>
                                <a href="/change-password"><div class="row-text align-right">*****</div></a>
                            </td>
                        </tr>
                    </table>
                    <table width="100%">
                        <tr class="border-bottom">
                            <td>
                                <%= image_tag "Category_ClickPins-02.png", size:"42" %>
                            </td>
                            <td>
                                <div class="row-text align-left">Home</div>
                            </td>
                            <td>
                                <div class="row-text align-right">5000 Forbes Ave.</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td>
                                <%= image_tag "Category_ClickPins-04.png", size:"42" %>
                            </td>
                            <td>
                                <div class="row-text align-left">Work</div>
                            </td>
                            <td>
                                <div class="row-text align-right">123 Main St.</div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td>
                                <%= image_tag "Category_ClickPins-08.png", size:"42" %>
                            </td>
                            <td>
                                <div class="row-text align-left">Bank</div>
                            </td>
                            <td>
                                <div class="row-text align-right"></div>
                            </td>
                        </tr>
                        <tr class="border-bottom">
                            <td>
                                <%= image_tag "Category_ClickPins-06.png", size:"42" %>
                            </td>
                            <td>
                                <div class="row-text align-left">Pharmacy</div>
                            </td>
                            <td>
                                <div class="row-text align-right"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Upper Right Toolbar -->
    <!-- Help and Login Buttons --> 
    <div class="toolbar up-right">
        <span class="dropdown pull-right">
            <a id="help-button" data-target="#" data-toggle="dropdown" class="dropdown-toggle" href="#"><%= image_tag "help.png", size:"34" %></a>
            <ul id="least-option-dropdown" class="dropdown-menu align-right help-dropdown">
               <li><a href="/about">About EnRoute</a></li>
               <hr>
               <li><a href="/privacy">Privacy, Terms, and Conditions</a></li>
               <hr>
               <li><a href="/feedback">Feedback</a></li>
            </ul>
            <a id="login-button" data-toggle="modal" data-target="#loginModal">
            <%= image_tag "button-Normal-02.png", size:"99x34" %>
        </a>
        </span>
    </div>

    <!-- Modal for Login -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog transparant">
            <div class="modal-content">
                <div class="modal-header">
                    <%= image_tag "LogInWindow-03.png", size:"39" %>
                    <span class="modal-title" id="myModalLabel">Log in</span>
                </div>
                <div class="modal-body teal">
                    <div class="table-container">
                        <table>
                            <!-- Input Username -->
                            <tr class="text-input">
                                <td class="input-label">
                                    <div> Username </div>
                                </td>
                                <td>
                                    <input type="text" id="input-username" class="input-text form-control inline"/>
                                    <%= image_tag "LogInWindow-01.png", size:"22" %>
                                </td>
                            </tr>
                            <!-- Input Password --> 
                            <tr class="text-input"
                                <td class="input-label">
                                    <div> Password </div>
                                </td>
                                <td>
                                    <input type="text" id="input-password" class="input-text form-control inline"/>
                                </td>
                            </tr>
                            <tr class="footer">
                                <td></td>
                                <td>
                                    <%= image_tag "login-Normal-04.png", size:"93x28" %>
                                    <%= image_tag "login-Normal-05.png", size:"93x28" %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal for Login -->

    <!-- Modal for Options -->
    <div class="modal fade" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog transparant">
            <div class="modal-content">
                <div class="modal-header">
                    <%= image_tag "TimeSetting.png", size:"39" %>
                    <span class="modal-title" id="myModalLabel">Category</span>
                </div>
                <div class="modal-body teal">
                    <div class="options-table-container">
                        <table width="100%">
                            <tr class="border-bottom">
                                <td width="50%">
                                    <div class="row-text align-left">Arrive</div>
                                </td>
                                <td>
                                    <div class="row-text align-right">time</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row-text align-left">Stop</div>
                                </td>
                                <td>
                                    <div class="row-text align-right">time</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal for Options -->
    
    <!-- Modal for Favorites -->
    <div class="modal fade" id="favoritesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog transparant">
            <div class="modal-content">
                <div class="modal-header">
                    <%= image_tag "tab-Normal-04.png", size:"39" %>
                    <span class="modal-title" id="myModalLabel">Favorite</span>
                </div>
                <div class="modal-body teal">
                    <div class="options-table-container">
                        <table width="100%">
                            <tr class="border-bottom">
                                <td width="155px" >
                                    <div class="row-text align-left">Name</div>
                                </td>
                                <td>
                                    <a id="favorite-name" class="actually-text-field row-text align-right">-----</a>
                                    <input type='text' class='not-actually-text-field row-text' value="" hidden="true">
                                </td>
                            </tr>
                            <tr class="thick-border-bottom">
                                <td>
                                    <div class="row-text align-left">Location</div>
                                </td>
                                <td>
                                    <a id="favorite-location" class="actually-text-field row-text align-right">-----</a>
                                    <input type='text' class='not-actually-text-field row-text' value="" hidden="true">
                                </td>
                            </tr>
                            <tr class="border-bottom">
                                <td>
                                    <div class="row-text align-left">Notes</div>
                                </td>
                                <td>
                                    <a id="favorite-notes" class="actually-text-field row-text align-right">-----</a>
                                    <input type='text' class='not-actually-text-field row-text' value="" hidden="true">
                                </td>
                            </tr>
                            <tr class="border-bottom">
                                <td colspan="2">
                                    <div class="row-text align-left">Category</div>
                                    <div class="category-table-container">
                                        <table>
                                            <tr>
                                                <td><a class="favorite-category-icon"><%= image_tag "AddCategory-01.png", size:"39" %></td>
                                                <td><a class="favorite-category-icon"><%= image_tag "AddCategory-02.png", size:"39" %></td>
                                                <td><a class="favorite-category-icon"><%= image_tag "AddCategory-03.png", size:"39" %></td>
                                                <td><a class="favorite-category-icon"><%= image_tag "AddCategory-04.png", size:"39" %></td>
                                                <td><a class="favorite-category-icon"><%= image_tag "AddCategory-05.png", size:"39" %></td>
                                                <td><a class="favorite-category-icon"><%= image_tag "AddCategory-06.png", size:"39" %></td>
                                            </tr>
                                            <tr>
                                                <td><a class="favorite-category-icon"><%= image_tag "AddCategory-07.png", size:"39" %></a></td>
                                                <td><a class="favorite-category-icon"><%= image_tag "AddCategory-08.png", size:"39" %></a></td>
                                                <td><a class="favorite-category-icon"><%= image_tag "AddCategory-09.png", size:"39" %></a></td>
                                                <td><a class="favorite-category-icon"><%= image_tag "AddCategory-10.png", size:"39" %></a></td>
                                                <td><a class="favorite-category-icon"><%= image_tag "AddCategory-11.png", size:"39" %></a></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="footer-table" width="100%">
                            <tr>
                                <td width="34%"></td>
                                <td>
                                    <%= image_tag "button-Normal-03.png", size:"93x28" %>
                                    <%= image_tag "button-Normal-01.png", size:"93x28" %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal for Favorites -->

</body>

</html>
