<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EnRoute - Plan your next stop</title>
	<!--Note: this page requires map.js, RouteTools.js, and routeForm.js-->
</head>

<body>

	<!-- Hidden input to detect whether logged in -->
	<input id="hidden-userID" type="hidden" value="<%= logged_in? ? current_user.id : "-1"%>"/>
	<input id="hidden-username" type="hidden" value="<%= logged_in? ? current_user.username : ""%>"/>
    
    <!-- Map -->
    <div id="map-canvas"></div>
	<div id="pinPopover_Prototype" class="pinPopover" hidden="true">
		<table class="table-container">
			<tr><td><img class="pinPopover-icon" src="/assets/category-blue1-coffee.png" width="35px" height="35px"/></td>
				<td><div class="pinPopover-label" class="row-text">Coffee</div></td></tr>
			<tr><td></td><td><div class="pinPopover-name" class="row-text-2">Starbucks</div></td></tr>
			<tr><td></td><td><div class="pinPopover-address-1" class="row-text-2">Address</div></td></tr>
			<tr><td></td><td><div class="pinPopover-address-2" class="row-text-2">Pittsburgh, PA 15219</div></td></tr>
			<tr><td colspan="2"><div align="center">
				<%= image_tag "textButton-normal-useThis.png", size:"93x28", :class => "pinPopover-useMe-button" %>
			</div></td></tr>
		</table>
	</div>

    <!-- Transparant Background -->
    <div id="menu-background" class="teal1 transparant menu"></div>

    <!-- Menu -->
    <div id="menu" role="tabpanel" class="menu">

        <!-- Nav tabs -->
        <ul id="tabs" role="tablist" class="nav nav-tabs gray1">
            <!-- Commenting out the settings tab
			<li role="presentation"><a href="#saveTab" aria-controls="saveTab" role="tab" data-toggle="tab"><%= image_tag "tab-normal-save.png", size:"41" %></a></li>
			-->
            <li role="presentation"><a href="#routeTab" aria-controls="routeTab" role="tab" data-toggle="tab"><%= image_tag "tab-normal-route.png", :class => "icons" %></a></li>
            <li role="presentation"><a href="#favoritesTab" aria-controls="favoritesTab" role="tab" data-toggle="tab"><%= image_tag "tab-normal-favorites.png", :class => "icons" %></a></li>
            <li role="presentation"><a href="#userTab" aria-controls="userTab" role="tab" data-toggle="tab"><%= image_tag "tab-normal-user.png", :class => "icons" %></a></li>
            <li role="presentation"><a href="#settingsTab" aria-controls="settingsTab" role="tab" data-toggle="tab"><%= image_tag "tab-normal-settings.png", :class => "icons" %></a></li>
        </ul>

        <!-- Tab panes -->
        <div id="tab-content" class="tab-content">

            <!-- Save tab -->
            <div role="tabpanel" class="tab-pane" id="saveTab">
                <div class="options-table-container">
					<table width="100%">
						<tr class="thick-border-bottom" data-toggle="collapse" data-target="#savedRoutesCollapse" class="accordion-toggle">
							<td>
								<div class="row-text align-left">Saved Routes</div>
							</td>
						</tr>
						<tr>
							<td colspan="6" class="hiddenRow">
								<div class="collapse" id="savedRoutesCollapse">
									<table width="100%">
										<tr class="border-bottom">
											<td>
												<div class="row-text align-left">To-do</div>
											</td>
										</tr>
										<tr class="border-bottom">
											<td>
												<div class="row-text align-left">Sunday Errands</div>
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
						<tr class="thick-border-bottom" data-toggle="collapse" data-target="#pastRoutesCollapse" class="accordion-toggle">
							<td>
								<div class="row-text align-left">Past Routes</div>
							</td>
						</tr>
						<tr>
							<td colspan="6" class="hiddenRow">
								<div class="collapse" id="pastRoutesCollapse">
									<table width="100%">
										<tr class="border-bottom">
											<td>
												<div class="row-text align-left">FROM x TO y</div>
											</td>
										</tr>
										<tr class="border-bottom">
											<td>
												<div class="row-text align-left">FROM a TO b</div>
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<% if not logged_in? %>
					<div class="overlay"><div style="display: table-cell; vertical-align: middle;"><br/>Please Login or Register<br/>to use this feature<br/><br/></div></div>
				<% end %>
            </div>
			<!-- END Save tab -->
			
            <!-- Settings tab -->
            <div role="tabpanel" class="tab-pane" id="settingsTab">
                <div class="options-table-container">
                    <table width="100%">
                        <tr class="border-bottom">
                            <td width="50%"><div class="row-text align-left">Time limit</div></td>
                            <td><div class="align-right dropdown">
                                <a class="actually-text-field row-text align-right">-----</a>
                                <input id="time-limit" type='text' class='not-actually-text-field' value="" hidden="true">
                            </div></td>
                        </tr>
                        <tr class="thick-border-bottom">
                            <td><div class="row-text align-left">Minimize</div></td>
                            <td><div class="row-text align-right dropdown">
                                <a id="minimize-option" data-toggle="dropdown" class="dropdown-toggle" href="#" value="time">time</a>
                                <ul id="minimize-option-dropdown" class="dropdown-menu align-right">
                                   <li><a href="#" value="time">time</a></li>
                                   <li><a href="#" value="distance">distance</a></li>
                                </ul>
                            </div></td>
                        </tr>
                        <tr class="thick-border-bottom">
                            <td><div class="row-text align-left">Distance Unit</div></td>
                            <td><div class="row-text align-right dropdown">
                                <a id="distance-option" data-toggle="dropdown" class="dropdown-toggle" href="#" value="miles">miles</a>
                                <ul id="distance-option-dropdown" class="dropdown-menu align-right">
                                   <li><a href="#" value="miles">miles</a></li>
                                   <li><a href="#" value="kilometers">kilometers</a></li>
                                </ul>
                            </div></td>
                        </tr>
                        <!--<tr class="thick-border-bottom">
                            <td>
                                <div class="row-text align-left">Navigation Voice</div>
                            </td>
                            <td>
                                <div class="row-text align-right">none</div>
                            </td>
                        </tr>-->
                    </table>
                </div>
            </div>
			<!-- END Settings tab -->
			
            <!-- Route tab -->
            <div role="tabpanel" class="tab-pane" id="routeTab">
                <!-- Input -->
                <div id="route-input" class="task-table-container">
                    <table id="tasks-table">
                        <tr id="taskPrototype" class="text-input"><td>

                        <form class="form-inline">
                            <div class="form-group">
                                <a class="move-button">
                                <%= image_tag "taskIcons-normal-unlocked.png", :class => "inrow icons", :style => "margin-bottom: 4px;" %></a>
                                <a class="edit-button">
                                    <%= image_tag "taskIcons-normal-clock.png", :class => "inrow icons" %></a>
                            </div>
                            <div class="form-group">
                                <div class="input-group task-label" style="margin-top:11px">
                                    <span id="taskId" class="input-group-addon">1</span>
                                    <input type="text" class="task-label input-text form-control inline" />
                                </div>
                            </div>
                            <div class="form-group">
                                <a class="delete-button">
                                    <%= image_tag "taskIcons-normal-delete.png", :class => "icons" %>
                                <a style="display:inline" class="taskStatus" data-toggle="tooltip" data-placement="right" title="" hidden="true">
                                    <%= image_tag "taskIcons-normal-alert.png", :class => "inrow", :id => "alert", size:"35", :style => "margin-top: 4px;" %>
                                </a>
                            </div>
                        </form>

						</td></tr>
                    </table>
                    <table class="footer-table" width="100%">
                        <tr>
                            <td width="60px"></td>
                            <td>
								<%= image_tag "textButton-normal-addStop.png", :class => "clickable-button", :id => "add-stop-button" %>
								<%= image_tag "textButton-normal-findRoute.png", :class => "clickable-button", :id => "route-find-button" %>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END Input -->
                <!-- Output -->
                <div id="route-output" hidden="true">
                    <div class="options-table-container">
                        <!-- Header -->
                        <table width="100%">
                            <tr class="thick-border-bottom">
                                <td width="50%">
                                    <div class="row-text align-left bebasNeue">Least Time Route</div>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <!-- Stops -->
                        <table id="directions-table" width="100%">
                            <tr id="locationPrototype" class="border-bottom">
                                <td width="50%">
                                    <div class="location-label row-text align-left" style="color: #202020">My Location</div>
                                </td>
                                <td>
                                    <div class="location-address row-text align-right" style="color: #202020"><% if logged_in?%> <%= current_user.street_1 %> <% else %> (sign in to save home)<% end %></div>
                                </td>
                            </tr>
                            <!-- Next Stop -->
                            <tr id="stepsPrototype" class="border-bottom">
                                <td colspan='2'>
                                    <div>
                                        <table class="steps-table" width='100%'>
                                            <tr id="instructionPrototype">
                                                <td><%= image_tag "Map-32.png", :class => "instruction-icon icons" %></td>
                                                <td><div class="instruction-text">Head North on asdf</div></td>
                                                <td rowspan='10'><div class="instruction-duration align-right"> 5 min </div></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="footer-table" width="100%">
                            <tr>
                                <td width="201px"></td>
                                <td>
                                    <%= image_tag "textButton-normal-back.png", :class => "clickable-button", :id => "route-back-button" %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- END Output -->
            </div>

            <!-- Favorites tab -->
            <div role="tabpanel" class="tab-pane" id="favoritesTab">
                <div class="options-table-container">
					<table width="100%">
						<tr class="thick-border-bottom">
							<td>
								<div class="row-text align-left">Favorites</div>
							</td>
						</tr>
					</table>
					<form id="favorite-form"><table width="100%" id="favorites-table">
						<tr id="favoritePrototype" class="border-bottom">
							<td><input type="radio" name="favToAdd" value="0"></td>
							<td><%= image_tag "category-blue1-coffee.png", size:"42", :class => "categoryTypeIcon" %></td>
							<td><div class="favorite-label row-text align-left">Starbucks</div></td>
							<td width="25%"><a class="favorite-edit-button">
								<div class="row-text align-right">Edit</div>
							</a></td>
						</tr>
					</table></form>
					<table class="footer-table" width="100%">
						<tr>
							<td width="34%"></td>
							<td><%= image_tag "textButton-normal-create.png", size:"93x28", :id => "create-new-fav-button" %></td>
							<td><%= image_tag "textButton-normal-addToRoute.png", size:"93x28", :id => "add-fav-to-route-button" %></td>
						</tr>
					</table>
                </div>
				<% if not logged_in? %>
					<div class="overlay"><div style="display: table-cell; vertical-align: middle;"><br/>Please Login or Register<br/>to use this feature<br/><br/></div></div>
				<% end %>
            </div>
			<!-- END Favorites tab -->

            <!-- User tab -->
            <div role="tabpanel" class="tab-pane" id="userTab">
                <div class="options-table-container">
					<table width="100%">
						<tr class="border-bottom">
							<td>
								<div class="row-text align-left">Username</div>
							</td>
							<td>
								<div class="row-text align-right"><span id="username">lcorry</span></div>
							</td>
						</tr>
						<tr class="thick-border-bottom">
							<td>
								<div class="row-text align-left">Password</div>
							</td>
							<td>
								<div class="row-text align-right"><a id="password" href="/users/<%= logged_in? ? current_user.id : "-1"%>/edit">*****</a></div>
							</td>
						</tr>
					</table>
					<table width="100%">
						<tr class="thick-border-bottom">
							<td><%= image_tag "category-blue1-home.png", :class => "icons" %></td>
							<td><div class="row-text align-left">Home</div></td>
							<td><div class="row-text align-right"><span id="homeAddr">5000 Forbes Ave.</span></div></td>
						</tr>
					</table>
                </div>
				<% if not logged_in? %>
					<div class="overlay"><div style="display: table-cell; vertical-align: middle;"><br/>Please Login or Register<br/>to use this feature<br/><br/></div></div>
				<% end %>
            </div>
			<!-- END User tab -->
        </div>
		<span class="statusMessage"></span>
    </div>

    <!-- Upper Right Toolbar: Help and Login Buttons -->
    <div class="toolbar up-right">
        <span class="dropdown pull-right">
            <a id="help-button" data-toggle="dropdown" class="dropdown-toggle" href="#"><%= image_tag "Help.png", size:"34" %></a>
            <ul id="help-dropdown" class="dropdown-menu align-right help-dropdown">
               <li><a href="/about">About EnRoute</a></li>
               <hr>
               <li><a href="/privacy">Privacy, Terms, and Conditions</a></li>
               <hr>
               <li><a href="/feedback">Feedback</a></li>
            </ul>
            <a href="/login" id="login-button"><%= image_tag "textButton-normal-signIn.png", :class=>"clickable-button" %></a>
        </span>
    </div>
	<!-- END Upper Right Toolbar: Help and Login Buttons -->

	
	<!-- BEGIN MODALS -->
	
    <!-- Modal for Login -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog transparant">
            <div class="modal-content">
                <div class="modal-header">
                    <%= image_tag "tab-normal2-user.png", size:"39" %>
                    <span class="modal-title" id="loginModalLabel">Log in</span>
                </div>
                <div class="modal-body teal1">
                    <div class="login-table-container">
                        <table>
                            <!-- Input Username -->
                            <tr class="text-input">
                                <td class="input-label">
                                    <div> Username </div>
                                </td>
                                <td>
                                    <input type="text" id="input-username" class="input-text form-control inline"/>
                                    <%= image_tag "checkmarkInCircle.png", size:"22" %>
                                </td>
                            </tr>
                            <!-- Input Password --> 
                            <tr class="text-input">
                                <td class="input-label">
                                    <div> Password </div>
                                </td>
                                <td>
                                    <input type="text" id="input-password" class="input-text form-control inline"/>
                                </td>
                            </tr>
                            <tr class="footer">
                                <td></td>
                                <td>
                                    <%= link_to image_tag("textButton-normal-register.png", size:"93x28"), new_user_path %>
                                    <%= image_tag "textButton-normal-logIn.png", size:"93x28" %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal for Login -->

    <!-- Modal for Task Editing -->
    <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog transparant">
            <div class="modal-content">
                <div class="modal-header">
                    <%= image_tag "TimeSetting.png", size:"39" %>
                    <span class="modal-title" id="taskModal_label">Task #1 - Coffee</span>
                </div>
                <div class="modal-body teal1">
                    <div class="options-table-container">
                        <table width="100%">
                            <!--<tr class="border-bottom">
                                <td width="50%"><div class="row-text align-left">Arrive</div></td>
                                <td><div class="row-text align-right">time</div></td>
                            </tr>-->
                            <tr id="taskModal_flexibleOrdering_container" class="border-bottom">
                                <td width="50%"><div class="row-text align-left">Re-orderable</div></td>
                                <td><div class="row-text align-right">
									<input id="taskModal_flexibleOrdering" type="checkbox"/>
								</div></td>
                            </tr>
							<tr id="taskModal_arrive_container" class="border-bottom">
                                <td><div class="row-text align-left"> Arrive
									<div class="dropdown">
										<a id="taskModal_arrive_option" data-toggle="dropdown" class="dropdown-toggle" href="#" value="anytime">anytime</a>
										<ul id="taskModal_arrive_option-dropdown" class="dropdown-menu align-right">
										   <li><a href="#" value="anytime">anytime</a></li>
										   <li><a href="#" value="at">at</a></li>
										   <li><a href="#" value="before">before</a></li>
										   <li><a href="#" value="after">after</a></li>
										   <li><a href="#" value="between">between</a></li>
										</ul>
									</div>
								</div></td>
                                <td><div class="row-text align-right">
									<input id="taskModal_arrive_at" type="time" hidden="true"/>
									<input id="taskModal_arrive_after" type="time" hidden="true"/>
									<span id="taskModal_arrive_and" hidden="true">and</span>
									<input id="taskModal_arrive_before" type="time" hidden="true"/>
								</div></td>
                            </tr>
							<tr id="taskModal_leave_container" class="border-bottom">
                                <td><div class="row-text align-left"> Leave
									<div class="dropdown">
										<a id="taskModal_leave_option" data-toggle="dropdown" class="dropdown-toggle" href="#" value="anytime">anytime</a>
										<ul id="taskModal_leave_option-dropdown" class="dropdown-menu align-right">
										   <li><a href="#" value="anytime">anytime</a></li>
										   <li><a href="#" value="at">at</a></li>
										   <li><a href="#" value="before">before</a></li>
										   <li><a href="#" value="after">after</a></li>
										   <li><a href="#" value="between">between</a></li>
										</ul>
									</div>
								</div></td>
                                <td><div class="row-text align-right">
									<input id="taskModal_leave_at" type="time" hidden="true"/>
									<input id="taskModal_leave_after" type="time" hidden="true"/>
									<span id="taskModal_leave_and" hidden="true">and</span>
									<input id="taskModal_leave_before" type="time" hidden="true"/>
								</div></td>
                            </tr>
							<tr id="taskModal_minutesNeeded_container" class="thick-border-bottom">
                                <td><div class="row-text align-left">Minutes needed</div></td>
                                <td><div class="row-text align-right">
									<input id="taskModal_minutesNeeded" type="text"/>
								</div></td>
                            </tr>
                        </table>
						<table class="footer-table" width="100%">
                            <tr>
                                <td width="34%"></td>
                                <td>
									<%= image_tag "textButton-normal-save.png", size:"93x28", :id => "task-save-button" %>
									<%= image_tag "textButton-normal-cancel.png", size:"93x28", :id => "task-cancel-button" %>
                                </td>
                            </tr>
                        </table>
						<span class="statusMessage"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal for Task Editing -->
    
    <!-- Modal for Favorites -->
    <div class="modal fade" id="favoritesModal" tabindex="-1" role="dialog" aria-labelledby="favoritesModal_label" aria-hidden="true">
        <div class="modal-dialog transparant">
            <div class="modal-content">
                <div class="modal-header">
                    <%= image_tag "tab-normal-favorites.png", size:"39" %>
                    <span class="modal-title" id="favoritesModal_label">Edit Favorite</span>
                </div>
                <div class="modal-body teal1">
                    <div class="options-table-container">
                        <table width="100%">
                            <tr class="border-bottom">
                                <td width="155px" >
                                    <div class="row-text align-left">Name</div>
                                </td>
                                <td>
                                    <a class="actually-text-field row-text align-right">-----</a>
                                    <input id="favoritesModal_name" type='text' class='not-actually-text-field row-text' value="" hidden="true">
                                </td>
                            </tr>
                            <tr class="border-bottom">
                                <td>
                                    <div class="row-text align-left">Address</div>
                                </td>
                                <td>
                                    <a class="actually-text-field row-text align-right">-----</a>
                                    <input id="favoritesModal_addr" type='text' class='not-actually-text-field row-text' value="" hidden="true">
                                </td>
                            </tr>
                            <tr class="border-bottom">
                                <td>
                                    <div class="row-text align-left">Notes</div>
                                </td>
                                <td>
                                    <a class="actually-text-field row-text align-right">-----</a>
                                    <input id="favoritesModal_notes" type='text' class='not-actually-text-field row-text' value="" hidden="true">
                                </td>
                            </tr>
                            <tr class="thick-border-bottom">
                                <td colspan="2">
                                    <div class="row-text align-left">Category</div>
                                    <div id="favoritesModal_category_container" class="category-table-container">
										<input id="favoritesModal_category" type='text' value="blank" hidden="true">
                                        <table>
                                            <tr>
												<td><a class="favorite-category-icon"><input type="text" value="blank" hidden="true"/><%= image_tag "category-blue2-blank.png", size:"39" %></td>
                                                <td><a class="favorite-category-icon"><input type="text" value="restaurant" hidden="true"/><%= image_tag "category-blue2-restaurant.png", size:"39" %></td>
                                                <td><a class="favorite-category-icon"><input type="text" value="atm" hidden="true"/><%= image_tag "category-blue2-atm.png", size:"39" %></td>
                                                <td><a class="favorite-category-icon"><input type="text" value="coffee" hidden="true"/><%= image_tag "category-blue2-coffee.png", size:"39" %></td>
                                                <td><a class="favorite-category-icon"><input type="text" value="bank" hidden="true"/><%= image_tag "category-blue2-bank.png", size:"39" %></td>
                                                <td><a class="favorite-category-icon"><input type="text" value="groceries" hidden="true"/><%= image_tag "category-blue2-groceries.png", size:"39" %></td>
                                            </tr>
                                            <tr>
												<td><a class="favorite-category-icon"><input type="text" value="pharmacy" hidden="true"/><%= image_tag "category-blue2-pharmacy.png", size:"39" %></td>
                                                <td><a class="favorite-category-icon"><input type="text" value="books" hidden="true"/><%= image_tag "category-blue2-books.png", size:"39" %></a></td>
                                                <td><a class="favorite-category-icon"><input type="text" value="work" hidden="true"/><%= image_tag "category-blue2-work.png", size:"39" %></a></td>
                                                <td><a class="favorite-category-icon"><input type="text" value="gas" hidden="true"/><%= image_tag "category-blue2-gas.png", size:"39" %></a></td>
                                                <td><a class="favorite-category-icon"><input type="text" value="home" hidden="true"/><%= image_tag "category-blue2-home.png", size:"39" %></a></td>
                                                <td><a class="favorite-category-icon"><input type="text" value="postOffice" hidden="true"/><%= image_tag "category-blue2-postOffice.png", size:"39" %></a></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="footer-table" width="100%">
                            <tr>
                                <td width="34%"></td>
                                <td>
									<%= image_tag "textButton-normal-save.png", size:"93x28", :id => "favorite-save-button" %>
									<%= image_tag "textButton-normal-cancel.png", size:"93x28", :id => "favorite-cancel-button" %>
                                </td>
                            </tr>
                        </table>
						<span class="statusMessage"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal for Favorites -->
	
	<!-- END MODALS -->

</body>

</html>
